editor_directory: /srv/editor
galaxy_prefix: /editor
galaxy_admin: galaxy-admin@example.org
editor_remote_user_secret: editoromtdsecret

tools_share: "{{ groups.executor.tools_share }}"

# Directory which holds object store data. This directory is mounted to an nfs
# server.
object_store_directory: "{{ editor_directory }}/database"

# Directory which holds datasets of workflows. It's parent is
# `object_store_directory`.
files_directory: files

# tmp directory of jobs. It's parent is `object_store_directory`.
tmp_directory: tmp

# Galaxy remote repo.
galaxy_repo: https://github.com/openminted/galaxy

# Version of the repository to check out. A branch, a tag or a commit hash.
editor_version: editor

# job runner
local_workers: 4

# Postgress
editor_db_name: editor
editor_db_user: editor
editor_db_password: editor
