<VirtualHost *:80>
  ServerName {{ host_fqdn if host_fqdn is defined else hostvars[groups['galaxy'][0]].ansible_fqdn }}

  ProxyPass /executor http://localhost:{{executor_port}}
  ProxyPass /executor http://localhost:{{executor_port}}
  ProxyPass /editor http://localhost:{{editor_port}}
  ProxyPass /editor http://localhost:{{editor_port}}

</VirtualHost>